
<div class="container">
<div class="col-lg-12">

	<h2> Get persons Details -
	</h2>
	
	<div class="col-lg-4">
		<md-autocomplete
          md-search-text-change="vm.searchUser(vm.searchText)"
          md-selected-item-change="vm.myFamily(item.uId)"
          md-search-text="vm.searchText"
          md-items="item in vm.allUsers"
          md-item-text="item.firstName"
          placeholder="Get Details">
        <md-item-template>
          <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.firstName}} {{item.lastName}}</span>
        </md-item-template>
        <md-not-found>
          No states matching "{{vm.searchText}}" were found.
        </md-not-found>
      </md-autocomplete>
	</div>

</div>
<div class="col-lg-12">
	
		<div ng-repeat="user in vm.userDetail" class="row"> 
			
			<div class="col-lg-2">
				<div ng-if= "user.fatherName">
					<md-button class="md-raised" ng-click="vm.myFamily(user.fatherName.uid)">{{user.fatherName.firstName}} {{user.fatherName.lastname}}</md-button>
					<!-- <button class="btn btn-default" ></button> -->
				</div>
			</div>
			<div class="col-lg-1"></div>
			
			<div class="col-lg-2">
				<div ng-if= "user.motherName">
					<md-button class="md-raised" ng-click="vm.myFamily(user.motherName.uid)">{{user.motherName.firstName}} {{user.motherName.lastname}}</md-button>
					<!-- <button class="btn btn-default" ng-click="vm.myFamily(user.motherName.uid)">{{user.motherName.firstName}} {{user.motherName.lastname}}</button> -->
				</div>
			</div>
		
		</div>
		<div class="row">
			<div class="col-lg-4 col-lg-offset-2">
			<md-button class="md-raised md-primary" ng-click="vm.myFamily(17)">{{vm.userDetail[0].firstName ||  'GetDetails'}}</md-button>
			</div>
			
		</div>
		
		<div ng-repeat="user in vm.userDetail" class="row"> 
			
			<div class="col-lg-2" ng-repeat="child in user.childrens">
				<div ng-if= "child.firstName">
					<md-button class="md-raised" ng-click="vm.myFamily(child.uid)">{{child.firstName}} {{child.lastname}}</md-button>
					<!-- <button class="btn btn-default" ng-click="vm.myFamily(child.uid)">{{child.firstName}} {{child.lastname}}</button> -->
				</div>
			</div>
		</div>
		
		
</div>


</div>